<div class="toolbar">
  <span *ngIf="authService.loggedInUser">
    Bem-vindo, {{ authService.loggedInUser.name }}
  </span>
</div>

<div class="row">
  <div class="col-lg-6">
    <h2>Bar Chart</h2>
    <canvas id="barchart"></canvas>
  </div>
</div>


<!-- <div>
  <label for="yearSelect">Selecionar Ano:</label>
  <select id="yearSelect" [(ngModel)]="selectedYear" (change)="filtrarPorAno()">
    <option value="" disabled>Escolha um ano</option>
    <option *ngFor="let year of data" [value]="year">{{ year }}</option>
  </select>
</div> -->
